.pattern-container {
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  img {
    width: 40px;
    margin-bottom: 5px;
  }
}

@media (min-width: 373px) {
  .pattern-container {
    img {
      width: 50px;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: 770px) {
  .pattern-container {
    img {
      width: 55px;
    }
  }
}