.customize-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 10px 0;
  #mb-title {
    // text-align: center;
    margin-bottom: 35px;
    h2 {
      margin-bottom: 10px;
    }
  }
  .img-container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    .product-img {
      width: 100%;
    }
  }
  
  .custom-feature {
    width: 90%;
    margin: 0 auto;

    .sock-color {
      text-align: left;
    }
    .product-size-container {
      padding-bottom: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.288);
      margin-bottom: 25px;
      .size-text {
        font-size: 19px;
        text-align: left;
        margin-bottom: 15px;
      }
      .product-size {
        display: flex;
        text-align: left;
        button {
          border: 1px solid black;
          background: transparent;
          margin-right: 15px;
          padding: 10px;
          font-size: 13px;
          outline: none;
          transition: ease-in-out .4s;
          cursor: pointer;
          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }
  .colors-picked {
    display: flex;
    align-items: center;
    width: 100%;
    // margin: 20px 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    .text {
      padding: 15.5px 0;
      // margin-right: 10px;
    }
    margin-bottom: 20px;
  }
  .colors {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.288);
    margin-bottom: 20px;
  }
  .colors-cost {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    span {
      font-weight: bold;
    }
  }
  .all-colors-picked {
    display: flex;
  }
  .text-info {
    margin-bottom: 80px;
    text-align: center;
    button {
      font-size: 0.9rem;
      border: 1.4px solid black;
      background: transparent;
      padding: 20px 35px;
      cursor: pointer;
      outline: none;
      margin-top: 1.2rem;
      transition: ease-in-out 0.4s;
      &:hover {
        background: black;
        color: white;
      }
    }
    #btn-disabled {
      &:hover {
        background: transparent;
        color: inherit;
      }
    }
  }
  .faq-container {
    margin-bottom: 80px;
    .styles_faq-row-wrapper__3Hsch .styles_faq-row__2Rd2Y {
      border-bottom: 1px solid rgba(0, 0, 0, 0.288);
      padding: 10px 0;
    }
  }
}

@media (min-width: 752px) {
  .customize-product {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    text-align: center;
    max-width: 1050px;
    margin: 100px auto 0;

    .custom-feature {
      width: 40%;
      margin: 0 auto;
    }
    .img-container {
      width: 30%;
      .product-img {
        width: 100%;
      }
    }
    
  }
}
